
.plan-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

@media print {
    @page {
        margin-top: 0.25in;
        margin-left: 0.5in;
        margin-right: 0.5in;
        margin-bottom: 0.5in;
        height: 8.5in;
        width: 11in;
    }
    h1, h2 {
        page-break-after: avoid;
        break-after: avoid;
    }
    .week {
        page-break-after: always;
        page-break-inside: avoid;
        break-after: always;
        break-inside: avoid;
    }
}

.day {
    width: 5.25in;
    height: 8.75in;
}

.day>h2, .day>h3 {
    text-align: center;
}

.exercise {
    font-size: 11pt;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

.name-weight {
    border-bottom: 1px solid black;
}

.weight-space {
    text-align: right;
}

.name-weight>.weight-space {
    display: block;
    border-bottom: 1px solid black;
}

.exercise-reps {
    border-bottom: 1px solid black;
    margin-left: 5px;
}

.exercise-detail {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.exercise-weight {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
}

.exercise-reps {
    font-weight: bold;
    min-width: 25px;
    text-align: center;
}

.weight-side {
    font-size: 8pt;
}

.date-line {
    display: inline-block;
    width: 200px;
    border-bottom: 1px solid black;
}

.exercise-rep {
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    margin-left: 5px;
}

.exercise-rep-weight, .exercise-rep-count {
    border-bottom: 1px solid black;
}

.exercise-rep-weight {
    border-left: 5px solid transparent;
}

.exercise-rep-count, .exercise-weight {
    align-items: center;
}

.supports {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    align-items: center;
    height: 8in;
}

.support {
    display: grid;
    grid-template-columns: 170px 5px 40px 10px 40px 5px 40px 10px 40px 5px 40px 10px 40px;
    grid-template-rows: 1fr;
    grid-template-areas: 'name sp0 wt1 ex1 rep1 sp1 wt2 ex2 rep2 sp2 wt3 ex3 rep3';
    margin-top: 10px;
}

.support-name {
    grid-area: name;
}
.support-weight-0  {
    grid-area: wt1;
}
.support-x-0 {
    grid-area: ex1;
}
.support-count-0 {
    grid-area: rep1;
}
.support-weight-1  {
    grid-area: wt2;
}
.support-x-1 {
    grid-area: ex2;
}
.support-count-1 {
    grid-area: rep2;
}
.support-weight-2  {
    grid-area: wt3;
}
.support-x-2 {
    grid-area: ex3;
}
.support-count-2 {
    grid-area: rep3;
}
.support-name,
.support-weight-0,
.support-count-0,
.support-weight-1,
.support-count-1,
.support-weight-2,
.support-count-2 {
    border-bottom: 1px solid black;
}

.support-x-0,.support-x-1,.support-x-2,
.support-weight-0, .support-weight-1, .support-weight-2,
.support-count-0, .support-count-1, .support-count-2 {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}
